/* Banner Part */
.banner-heading{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 18px;
    text-align: center;
}
.left-banner .banner-title{
    width: 50%;
    margin-bottom: 21px;
}
#purchase-button{
    background:linear-gradient(to right, #E76F51, rgb(240, 117, 17));
    padding:8px 30px;
    border: none;
    border-radius: 5px;
}
#purchase-button:hover{
    background:linear-gradient(to right,rgb(240, 169, 17),#E76F51);
}
#card-info{
    width: 50%;
}
.cart-span-1{
    background-color:rgba(211, 211, 211, 0.555);
    cursor: pointer;
}
.cart-span-1:hover{
    border: 2px solid lightskyblue;
}
.cart-span-2:hover{
    border: 2px solid lightgrey;
}
.gray-scaling{
    filter: grayscale(100%);
}
/* For Happy Clients */
.card-images{
    width: 149px;
    height: 149px;
}
#card-columns{
    padding-left: 25px;
    padding-right: 25px;
}
.card-body-info{
    color: #6C6C6C;
    width: 68%;"
}
/* FAQ Section */
#FAQ-body{
    width: 93%;
    padding: 0px 48px;
    margin: 48px;
}
#FAQ-left-image{
    width: 80%;
}
/* Stay In Touch Section */
#contact-container{
    border: none;
    border-radius: 20px;
    background-color: white;
}
#horizontal-row{
    width: 10%;
    border: 1px solid rgb(255, 103, 2);
    font-weight: 900;
}
#contact-number{
    font-size: 17px;
}
#exampleFormControlInput1, #exampleFormControlTextarea1{
    padding: 20px 0;
    padding-left: 20px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 10px;
    font-size: 17px;
}
#contact-us{
    background: linear-gradient(345.88deg, #399dc5 47.7%, #FFFFFF 47.71%);
}
#send-button{
    border-radius: 30px;
    background-color: #fd7e5e;
    border: 0;
    padding: 4px 27px 7px 27px;
    font-size: 20px;
}
#contact-form{
    width: 50%;
}
#mobile-icon{
    font-size: 50px;
    color: #fd7e5e;
}

/* For Laptop/Dekstop Responsive*/
@media only screen and (max-width:1440px){

    /* For Banner Part */
    .left-banner .banner-title{
        width: 67%;
        margin-bottom: 21px;
    }
} 

/*  For Mobile Responsive*/
@media only screen and (max-width:576px){

    /* For Banner Part */
    .banner-heading{
        font-size: 35px;
    }
    #small-title{
        font-size: 14px;
    }
    .left-banner .banner-title{
        width: 100%;
        margin-bottom: 21px;
    }
    .right-banner{
        padding-top: 56px;
    }
    #card-info{
        width: 40%;
    }
    #cart-items{
        font-size: 10px;
    }
    /* For Featured Heading */
    .banner-heading{
        font-size: 33px;
    }
    /* For Happy Clients Section */
    #clients-heading{
        width: 77%;
    }
    #card-columns{
        padding: 0px 10px;
        margin: 20px 0px;
    }
    .card-body-info{
        width: 100%;
    }
    /* FAQ Section */
    #FAQ-heading{
        font-size: 35px;
    }
    #FAQ-body{
        width: 100%;
        padding: 0px;
        margin: 0px 0px 48px 0px;
    }
    #FAQ-left-image{
        width: 100%;
    }
    /* For New Bikes Part */
    #carousel-title{
        padding-bottom: 0;
    }
    .carousel-header{
        font-size: 16px;
    }
    .carousel-info{
        font-size: 14px;
    }
    /* For Stay In Touch Part */
    #contact-container{
        width: 92%;
        padding:0px 5px;
    }
    #send-button{
        padding: 4px 15px 5px 15px;
        font-size: 17px;
    }
    #contact-form{
        width: 60%;
    }
    #footer-content-1{
        flex-direction: column;
        text-align: center;
    }
    #footer-content-2{
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
}