/* Banner Part */
.banner-heading{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 18px;
    text-align: center;
}
.left-banner>.banner-title{
    width: 50%;
    margin-bottom: 21px;
}
#purchase-button{
    background:linear-gradient(to right, #E76F51, rgb(240, 117, 17));
    padding:8px 30px;
    border: none;
    border-radius: 5px;
}
#purchase-button:hover{
    background:linear-gradient(to right,rgb(240, 169, 17),#E76F51);
}
#card-info{
    width: 50%;
}
.cart-span-1{
    background-color:rgba(211, 211, 211, 0.555);
    cursor: pointer;
}
.cart-span-1:hover{
    border: 2px solid lightskyblue;
}
.cart-span-2:hover{
    border: 2px solid lightgrey;
}
.gray-scaling{
    filter: grayscale(100%);
}
/* For Happy Clients */
.card-images{
    width: 149px;
    height: 149px;
}
#card-columns{
    padding-left: 25px;
    padding-right: 25px;
}
.card-body-info{
    color: #6C6C6C;
    width: 68%;"
}
/* FAQ Section */
#FAQ-body{
    width: 93%;
    padding: 0px 48px;
    margin: 48px;
}
#FAQ-left-image{
    width: 80%;
}
/*  For Mobile Responsive*/
@media only screen and (max-width:576px){

    /* For Banner Part */
    .banner-heading{
        font-size: 35px;
    }
    #small-title{
        font-size: 14px;
    }
    .left-banner>.banner-title{
        width: 100%;
        margin-bottom: 21px;
    }
    .right-banner{
        padding-top: 56px;
    }
    #card-info{
        width: 40%;
    }
    #cart-items{
        font-size: 10px;
    }
    /* For Featured Heading */
    .banner-heading{
        font-size: 33px;
    }
    /* For Happy Clients Section */
    #clients-heading{
        width: 77%;
    }
    #card-columns{
        padding: 0px 10px;
        margin: 20px 0px;
    }
    .card-body-info{
        width: 100%;
    }
    /* FAQ Section */
    #FAQ-heading{
        font-size: 35px;
    }
    #FAQ-body{
        width: 100%;
        padding: 0px;
        margin: 0px 0px 48px 0px;
    }
    #FAQ-left-image{
        width: 100%;
    }
}

/* For Laptop/Dekstop Responsive*/
@media only screen and (max-width:1440px){

    /* For Banner Part */
    .left-banner .banner-title{
        width: 67%;
        margin-bottom: 21px;
    }
}